<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>BGTaskSchedulerPermittedIdentifiers</key>
 <array>
  <string>de.holgerkrupp.Moves.dailyTimelineBackup</string>
  <string>de.holgerkrupp.Moves.shareMapAggregates</string>
  <string>de.holgerkrupp.Moves.routeFileImport</string>
 </array>
 <key>CFBundleDocumentTypes</key>
 <array>
  <dict>
   <key>CFBundleTypeName</key>
   <string>Route files</string>
   <key>CFBundleTypeRole</key>
   <string>Viewer</string>
   <key>LSHandlerRank</key>
   <string>Owner</string>
   <key>LSItemContentTypes</key>
   <array>
    <string>com.holgerkrupp.moves.gpx</string>
    <string>com.holgerkrupp.moves.tcx</string>
    <string>com.holgerkrupp.moves.kml</string>
    <string>com.holgerkrupp.moves.geojson</string>
    <string>public.json</string>
    <string>public.xml</string>
    <string>com.pkware.zip-archive</string>
    <string>public.folder</string>
   </array>
  </dict>
 </array>
 <key>CFBundleIcons</key>
 <dict>
  <key>CFBundleAlternateIcons</key>
  <dict>
   <key>BMW</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>BMW</string>
   </dict>
   <key>DC</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>DC</string>
   </dict>
   <key>IBM</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>IBM</string>
   </dict>
   <key>M-stadt</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>M-stadt</string>
   </dict>
   <key>MUC</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>MUC</string>
   </dict>
   <key>Mac</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>Mac</string>
   </dict>
   <key>Magicalt</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>Magicalt</string>
   </dict>
   <key>Magicneu</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>Magicneu</string>
   </dict>
   <key>Moritz</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>Moritz</string>
   </dict>
   <key>NYC</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>NYC</string>
   </dict>
   <key>OG</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>OG</string>
   </dict>
   <key>Pride</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>Pride</string>
   </dict>
   <key>TLS2016</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>TLS2016</string>
   </dict>
   <key>TLSold</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>TLSold</string>
   </dict>
   <key>barcelona</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>barcelona</string>
   </dict>
   <key>berg</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>berg</string>
   </dict>
   <key>doom</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>doom</string>
   </dict>
   <key>impossible</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>impossible</string>
   </dict>
   <key>ironMaiden</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>ironMaiden</string>
   </dict>
   <key>ironMaiden2</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>ironMaiden2</string>
   </dict>
   <key>ironman</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>ironman</string>
   </dict>
   <key>macro</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>macro</string>
   </dict>
   <key>madsen</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>madsen</string>
   </dict>
   <key>magnum</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>magnum</string>
   </dict>
   <key>mario</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>mario</string>
   </dict>
   <key>mars</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>mars</string>
   </dict>
   <key>maserati</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>maserati</string>
   </dict>
   <key>massi</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>massi</string>
   </dict>
   <key>mclaren</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>mclaren</string>
   </dict>
   <key>megadrive</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>megadrive</string>
   </dict>
   <key>megadrive2</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>megadrive2</string>
   </dict>
   <key>megaman</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>megaman</string>
   </dict>
   <key>megamanPerspective</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>megamanPerspective</string>
   </dict>
   <key>metallica</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>metallica</string>
   </dict>
   <key>metroMelbourne</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>metroMelbourne</string>
   </dict>
   <key>metroid</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>metroid</string>
   </dict>
   <key>milka</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>milka</string>
   </dict>
   <key>mms</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>mms</string>
   </dict>
   <key>monsterEnergy</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>monsterEnergy</string>
   </dict>
   <key>monsters</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>monsters</string>
   </dict>
   <key>montblanc</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>montblanc</string>
   </dict>
   <key>mortal</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>mortal</string>
   </dict>
   <key>moto</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>moto</string>
   </dict>
   <key>paris</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>paris</string>
   </dict>
   <key>star</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>star</string>
   </dict>
   <key>sunshine</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>sunshine</string>
   </dict>
   <key>sydney</key>
   <dict>
    <key>CFBundleIconName</key>
    <string>sydney</string>
   </dict>
  </dict>
 </dict>
 <key>CFBundleURLTypes</key>
 <array>
  <dict>
   <key>CFBundleURLName</key>
   <string>de.holgerkrupp.Moves</string>
   <key>CFBundleURLSchemes</key>
   <array>
    <string>moves</string>
   </array>
  </dict>
 </array>
 <key>LSSupportsOpeningDocumentsInPlace</key>
 <true/>
 <key>NSAppTransportSecurity</key>
 <dict>
  <key>NSAllowsLocalNetworking</key>
  <true/>
 </dict>
#if MAC_CATALYST
 <key>NSSiriUsageDescription</key>
 <string>Use Siri to hear timeline summaries and export your private Moves data.</string>
#else
 <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
 <string>Moves records your visits and routes on this device only to build your private daily timeline.</string>
 <key>NSLocationAlwaysUsageDescription</key>
 <string>Moves records your visits and routes on this device only to build your private daily timeline.</string>
 <key>NSLocationUsageDescription</key>
 <string>Moves records your visits and routes on this device only to build your private daily timeline.</string>
 <key>NSLocationWhenInUseUsageDescription</key>
 <string>Moves records your visits and routes on this device only to build your private daily timeline.</string>
 <key>NSMotionUsageDescription</key>
 <string>Moves uses motion activity to infer transport modes on-device.</string>
 <key>NSSiriUsageDescription</key>
 <string>Use Siri to start or stop route tracking, hear timeline summaries, and export your private Moves data.</string>
#endif
 <key>NSUbiquitousContainers</key>
 <dict>
  <key>iCloud.de.holgerkrupp.Moves</key>
  <dict>
   <key>NSUbiquitousContainerIsDocumentScopePublic</key>
   <true/>
   <key>NSUbiquitousContainerName</key>
   <string>Moves</string>
   <key>NSUbiquitousContainerSupportedFolderLevels</key>
   <string>Any</string>
  </dict>
 </dict>
 <key>UIBackgroundModes</key>
 <array>
#if !MAC_CATALYST
  <string>location</string>
#endif
  <string>processing</string>
  <string>remote-notification</string>
 </array>
 <key>UILaunchScreen</key>
 <dict>
  <key>UIColorName</key>
  <string>AccentColor</string>
  <key>UIImageName</key>
  <string>LaunchLogo</string>
  <key>UIImageRespectsSafeAreaInsets</key>
  <true/>
 </dict>
 <key>UTImportedTypeDeclarations</key>
 <array>
  <dict>
   <key>UTTypeConformsTo</key>
   <array>
    <string>public.xml</string>
   </array>
   <key>UTTypeIdentifier</key>
   <string>com.holgerkrupp.moves.gpx</string>
   <key>UTTypeTagSpecification</key>
   <dict>
    <key>public.filename-extension</key>
    <array>
     <string>gpx</string>
    </array>
   </dict>
  </dict>
  <dict>
   <key>UTTypeConformsTo</key>
   <array>
    <string>public.xml</string>
   </array>
   <key>UTTypeIdentifier</key>
   <string>com.holgerkrupp.moves.tcx</string>
   <key>UTTypeTagSpecification</key>
   <dict>
    <key>public.filename-extension</key>
    <array>
     <string>tcx</string>
    </array>
   </dict>
  </dict>
  <dict>
   <key>UTTypeConformsTo</key>
   <array>
    <string>public.xml</string>
   </array>
   <key>UTTypeIdentifier</key>
   <string>com.holgerkrupp.moves.kml</string>
   <key>UTTypeTagSpecification</key>
   <dict>
    <key>public.filename-extension</key>
    <array>
     <string>kml</string>
    </array>
   </dict>
  </dict>
  <dict>
   <key>UTTypeConformsTo</key>
   <array>
    <string>public.json</string>
   </array>
   <key>UTTypeIdentifier</key>
   <string>com.holgerkrupp.moves.geojson</string>
   <key>UTTypeTagSpecification</key>
   <dict>
    <key>public.filename-extension</key>
    <array>
     <string>geojson</string>
    </array>
   </dict>
  </dict>
 </array>
</dict>
</plist>
