<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.holgerkrupp.Moves.dailyTimelineBackup</string>
		<string>de.holgerkrupp.Moves.shareMapAggregates</string>
		<string>de.holgerkrupp.Moves.routeFileImport</string>
		<string>de.holgerkrupp.Moves.routeFileImport.continued</string>
		<string>de.holgerkrupp.Moves.routeWatchFolder</string>
		<string>de.holgerkrupp.Moves.explorationPreparation</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Route Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.topografix.gpx</string>
				<string>de.holgerkrupp.moves.gpx</string>
				<string>com.garmin.tcx</string>
				<string>de.holgerkrupp.moves.tcx</string>
				<string>com.google.earth.kml</string>
				<string>de.holgerkrupp.moves.kml</string>
				<string>public.geojson</string>
				<string>de.holgerkrupp.moves.geojson</string>
				<string>public.json</string>
				<string>public.zip-archive</string>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BMW</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BMW</string>
			</dict>
			<key>DC</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>DC</string>
			</dict>
			<key>IBM</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>IBM</string>
			</dict>
			<key>M-stadt</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>M-stadt</string>
			</dict>
			<key>MUC</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>MUC</string>
			</dict>
			<key>Mac</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Mac</string>
			</dict>
			<key>Magicalt</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Magicalt</string>
			</dict>
			<key>Magicneu</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Magicneu</string>
			</dict>
			<key>Moritz</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Moritz</string>
			</dict>
			<key>NYC</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>NYC</string>
			</dict>
			<key>OG</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>OG</string>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Pride</string>
			</dict>
			<key>TLS2016</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>TLS2016</string>
			</dict>
			<key>TLSold</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>TLSold</string>
			</dict>
			<key>barcelona</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>barcelona</string>
			</dict>
			<key>berg</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>berg</string>
			</dict>
			<key>doom</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>doom</string>
			</dict>
			<key>impossible</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>impossible</string>
			</dict>
			<key>ironMaiden</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>ironMaiden</string>
			</dict>
			<key>ironMaiden2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>ironMaiden2</string>
			</dict>
			<key>ironman</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>ironman</string>
			</dict>
			<key>macro</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>macro</string>
			</dict>
			<key>madsen</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>madsen</string>
			</dict>
			<key>magnum</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>magnum</string>
			</dict>
			<key>mario</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>mario</string>
			</dict>
			<key>mars</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>mars</string>
			</dict>
			<key>maserati</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>maserati</string>
			</dict>
			<key>massi</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>massi</string>
			</dict>
			<key>mclaren</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>mclaren</string>
			</dict>
			<key>megadrive</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>megadrive</string>
			</dict>
			<key>megadrive2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>megadrive2</string>
			</dict>
			<key>megaman</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>megaman</string>
			</dict>
			<key>megamanPerspective</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>megamanPerspective</string>
			</dict>
			<key>metallica</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>metallica</string>
			</dict>
			<key>metroMelbourne</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>metroMelbourne</string>
			</dict>
			<key>metroid</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>metroid</string>
			</dict>
			<key>milka</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>milka</string>
			</dict>
			<key>mms</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>mms</string>
			</dict>
			<key>monsterEnergy</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>monsterEnergy</string>
			</dict>
			<key>monsters</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>monsters</string>
			</dict>
			<key>montblanc</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>montblanc</string>
			</dict>
			<key>mortal</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>mortal</string>
			</dict>
			<key>moto</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>moto</string>
			</dict>
			<key>paris</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>paris</string>
			</dict>
			<key>star</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>star</string>
			</dict>
			<key>sunshine</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>sunshine</string>
			</dict>
			<key>sydney</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>sydney</string>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPS Exchange Format Route</string>
			<key>UTTypeIdentifier</key>
			<string>de.holgerkrupp.moves.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gpx+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Training Center XML Route</string>
			<key>UTTypeIdentifier</key>
			<string>de.holgerkrupp.moves.tcx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tcx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.garmin.tcx+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keyhole Markup Language Route</string>
			<key>UTTypeIdentifier</key>
			<string>de.holgerkrupp.moves.kml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kml</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.google-earth.kml+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GeoJSON Route</string>
			<key>UTTypeIdentifier</key>
			<string>de.holgerkrupp.moves.geojson</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>geojson</string>
				</array>
				<key>public.mime-type</key>
				<string>application/geo+json</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
